<footer id="footer" class="container-fluid text-white">
    <section class="d-flex justify-content-center justify-content-md-between p-4">
      <!-- Left -->
      <div class="d-none d-md-flex justify-content-start w-50 text-white">
        <h4>Mes contacts sur les réseaux sociaux:</h4>
      </div>    
      <!-- Right -->
      <div class='d-inline-flex overflow-scroll d-md-flex justify-content-md-end justify-content-center'>
        <a href="" class="me-4 text-reset">
          <!-- <i class="fab fa-facebook"></i> -->
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-snapchat-ghost rounded"></i>   
        </a>
        <a href="" class="me-4 text-reset">
          <!-- <i class="fas fa-twitter"></i> -->
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-soundcloud"></i>
        </a>        
      </div>
      <!-- Right -->
    </section>
      <!-- Section: Links  ----------------------------------------------------------------->
      
        <!-- <div id='cont' class=" d-flex justify-content-xl-between text-md-start mt-5 "> -->
          <!-- Grid row -->
    <section
          id="footerSecondSection"
          class="container-fluid d-flex justify-content-between">
            <!-- Grid column -->
        <div class="footerSecondSectionItem">
              <!-- Content -->
              <span class="text-uppercase text-white fw-bold mb-4">
                MetiisseCore Corporation
              </span>
              <blockquote>
                <p class="text-white">
                  Je suis un artiste qui fait du son des videos etc ...<br>                
                </p>
              </blockquote>
        </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="footerSecondSectionItem">
              <!-- Links -->
              <span class="text-uppercase text-white fs-10 fw-bold mb-4">
                Partenariats
              </span>
              <p>
                <a href="#!" class="text-white">Pyramiid Productions</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bus Paradise</a>
              </p>
              <p>
                <a href="#!" class="text-white">Jacquie et michel</a>
              </p>
              <p>
                <a href="#!" class="text-white">Moulinga</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="footerSecondSectionItem">
              <!-- Links -->
              <span class="text-uppercase text-white fs-10 fw-bold mb-4">
                Contact
              </span>
              <p>
                <i class="fa fa-home text-white"></i>&nbsp;&nbsp;&nbsp;<span class="text-white">Adresse Metisse Core</span>
              </p>
              <p>
                <i class="fa fa-envelope text-white"></i>&nbsp;&nbsp;&nbsp;<span class="text-white">jeremy@gmail.com</span>
              </p>
              <p>
                <i class="fa fa-phone text-white"></i>&nbsp;&nbsp;&nbsp;<span class="text-white">06 06 06 06 06</span>
              </p>
              <p>
                <i class="fa fa-print text-white"></i>&nbsp;&nbsp;&nbsp;
                 <span class="text-white">+ 01 234 567 89</span>
              </p>
            </div>
            <!-- Grid column -->
          
          <!-- Grid row -->
          </section>
      
  
    <!-- Copyright -->
    <div class="container-fluid text-center p-4 border">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">SALL Ibrahima</a>
    </div>
    <!-- Copyright -->
  
  </footer>
