<h1 class="text-white">Connectez vous ou inscrivez vous pour acceder aux services! </h1>
<div  style="height: 75vh;min-height:600px"class="container-fluid d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column bg-transparent justify-content-around align-items-center"  
         style="min-height:80%;height:60vh;width:25vw;min-width:250px;border-radius:5vh;border-style:solid;border-color: red;">
        <div class="bg-transparent d-flex justify-content-between p-0 mt-4" style="height:10%;width:90%">
            <button style="background-color: red;color:black"
                (click)="switchToLogin()"             
                class="button w-25 d-flex justify-content-center align-items-center  rounded-pill">
                Se connecter
            </button>
            <button 
                style="color:red;background-color:transparent;border-style: solid;border-color: red;"
                (click)="switchToRegister()" 
                class="button w-25 d-flex justify-content-center align-items-center rounded-pill">
                S'enregistrer
            </button>
        </div> 
        <form *ngIf="!login" class="mt-1 mb-1 h-75 w-100 d-flex flex-column justify-content-around align-items-center">
            <div style="height:100%" class="bg-transparent w-100 d-flex flex-column justify-content-around align-items-center">
                <div class="d-flex p-1 rounded-pill" 
                    style="width:90%;border-color: red; border-style: solid;background-color:transparent">
                    <div class=" bg-transparent " style="border-style: solid; border-color:transparent;">
                        <span class="input-group-text h-100 bg-transparent border-0"> 
                            <i style="color:red" class="fa fa-user border-0"></i> 
                        </span>
                    </div>
                    <input 
                        name="username"
                        required="true"
                        (input)="checkUserName($event)"                        
                        placeholder="pseudo"
                        [(ngModel)]="registerUserData.username"
                        class="w-75 fs-6"                          
                        style="background-color:transparent;color:red;border-color: transparent;border-width: 0ch;"
                        type="text">
                </div>
                <span style="color:orange">{{userNameErrorMessage}}</span>
                <div class="d-flex p-1 rounded-pill" 
                style="width:90%;border-color: red; border-style: solid;background-color:transparent">
                    <div class=" bg-transparent " style="border-style: solid; border-color:transparent;">
                        <span class="input-group-text h-100 bg-transparent border-0"> 
                            <i style="color:red" class="fa fa-envelope border-0"></i> 
                        </span>
                    </div>
                    <input name="email"
                        (input)="checkEmail($event)"
                        [(ngModel)]="registerUserData.email"
                        placeholder="email"
                        ngModel [email]="true"
                        required="true"
                        class="w-75 fs-6"                          
                        style="background-color:transparent;color:red;border-color: transparent;border-width: 0ch;"
                        type="email">                        
                </div>
                <span style="color:orange">{{emailErrorMessage}}</span>
                <div class="d-flex p-1 rounded-pill" 
                    style="width:90%;border-color: red; border-style: solid;background-color:transparent">
                    <div class=" bg-transparent " style="border-style: solid; border-color:transparent;">
                        <span class="input-group-text h-100 bg-transparent border-0"> 
                            <i style="color:red" class="fa fa-lock border-0"></i> 
                        </span>
                    </div>
                    <input name="password"
                        required="true"
                        [(ngModel)]="registerUserData.password"
                        (input)="checkPassword($event)"                        
                        placeholder="mot de passe"
                        class="w-75 fs-6"                          
                        style="background-color:transparent;color:red;border-color: transparent;border-width: 0ch;"
                        type="password">
                </div>
                <span [style.color]="passWordError.color">{{passWordError.message}}</span>
                <div 
                    class="d-flex p-1 rounded-pill" 
                    style="width:90%;border-color: red; border-style: solid;background-color:transparent">
                    <div class=" bg-transparent " style="border-style: solid; border-color:transparent;">
                        <span class="input-group-text h-100 bg-transparent border-0"> 
                            <i style="color:red" class="fa fa-lock border-0"></i> 
                        </span>
                    </div>
                    <input 
                        name="repeatedpassword"
                        required="true"
                        (input)="checkRepeatedPassWord($event)"
                        placeholder="confirmer mot de passe"
                        class="w-75 fs-6"                          
                        style="background-color:transparent;color:red;border-color: transparent;border-width: 0ch;"
                        type="password">
                </div>
                <span [style.color]="repeatedPassWordError.color">{{repeatedPassWordError.message}}</span>
            </div>
            <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
                <button 
                    style="background-color:red" 
                    class="rounded-pill w-50 text-white"
                    [disabled]="!resgisterEnabled()"
                    (click)="registerUser()">
                    Créer un compte
                </button>
                <!-- <a class="text-white">Forgot password ?</a> -->
            </div>
        </form>
        <form *ngIf="login"  class="mb-1 h-75 w-100 bg-transparent d-flex flex-column align-items-center">
            <div style="height:100%" class="bg-transparent w-100 d-flex flex-column justify-content-around align-items-center">
                <div class="d-flex p-1 rounded-pill" 
                style="width:90%;border-color: red; border-style: solid;background-color:transparent">
                    <div class=" bg-transparent " style="border-style: solid; border-color:transparent;">
                        <span class="input-group-text h-100 bg-transparent border-0"> 
                            <i style="color:red" class="fa fa-envelope border-0"></i> 
                        </span>
                    </div>
                    <input name="emailorusername"
                        placeholder="pseudo ou email"
                        [(ngModel)]="loginUserData.emailorusername"
                        class="w-75 fs-6"                          
                        style="background-color:transparent;color:red;border-color: transparent;border-width: 0ch;"
                        type="text">
                </div>
                <div 
                    class="d-flex p-1 rounded-pill" 
                    style="width:90%;border-color: red; border-style: solid;background-color:transparent">
                    <div class=" bg-transparent " style="border-style: solid; border-color:transparent;">
                        <span class="input-group-text h-100 bg-transparent border-0"> 
                            <i style="color:red" class="fa fa-lock border-0"></i> 
                        </span>
                    </div>
                    <input name="password"
                        [(ngModel)]="loginUserData.password"
                        class="w-75 fs-6" 
                        placeholder="mot de passe"                         
                        style="background-color:transparent;color:red;border-color: transparent;border-width: 0ch;"
                        type="password">
                </div>
                <span [style.color]="'red'" [style.display]="!loginfailed?'none':'block'">
                    Nom d'utilisateur ou mot de passe incorrects !
                </span>
            </div>
            <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
                <button 
                    style="background-color:red" 
                    class="rounded-pill w-50 text-white" 
                    (click)="loginUser()">
                    Se connecter
                </button>
                <a class="text-white">Mot de passe oublié?</a>
            </div>
        </form>
    </div>
</div>



<div>
    <ul>
        <li style="color:white" *ngFor="let username of allUsersNames">
            {{username}}
        </li>
    </ul>
</div>