<app-user-status></app-user-status>
<nav ngbNav #nav="ngbNav" class="nav-tabs-md bg-transparent navbar">
    <ng-container ngbNavItem>
      <a ngbNavLink class="text-white">A propos de moi</a>
      <ng-template ngbNavContent>
        <p class="text-white">
          Mon nom est MetiisseCore etc ....Mon nom est MetiisseCore etc ....
        </p>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink class="text-white">Pourquoi me rejoindre</a>
      <ng-template ngbNavContent>
        <p class="text-white">
          Parceque je ne sais pas ..... Parceque je ne sais pas .....
        </p>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem >
      <a ngbNavLink class="text-white">Formules d'abonnement</a>
      <ng-template ngbNavContent>
        <div style="min-height: 10vh;"class="d-flex ">
          <div class="d-flex flex-column justify-content-between w-25 bg-transparent">
            <div 
              *ngFor="let abonnement of abonnements"
              (click)="changeCurentIndex(abonnement.numero)"
              id="abonnement"
              [style.backgroundColor]="backgroundColor(abonnement.numero)"              
              class="text-white">
              {{abonnement.nom}}
            </div>            
          </div>
          <div 
            *ngFor="let abonnement of abonnements"          
            [style.display]="displayState(abonnement.numero)"
            class="w-75 bg-transparent text-white flex-column  align-items-start">
            <div class="h-75">{{abonnement.description}}</div>
            <button 
              (click)="addToCart(abonnement.numero)"               
              style="background-color: red;margin-bottom: 1%;">
              Ajouter au panier : {{abonnement.prix}}€
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink class="text-white">Actualités</a>
      <ng-template ngbNavContent>
        <p class="text-white">
          Quoid neuf docteur ?
          </p>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>


<div style="height:50vh" class="bg-transparent d-flex flex-column justify-content-around border-3 border-danger">  
    <div class="d-flex justify-content-around ">
        <button style='background-color:red' class='bouton rounded-pill text-white' routerLink="/services/clothes">
            <i class="fa fa-camera h3"></i>
            <span class="h3">
                Photos
            </span>
        </button>
        <button style='background-color:red' class='bouton rounded-pill text-white' routerLink="/services/music">
            <i  class="fa fa-music h3"></i> 
            <span class="h3">
                Musique
            </span>
        </button>
    </div>  
    <div class="bg-transparent d-flex justify-content-center" >  
        <button style='background-color:red'           
          class='bouton rounded-pill text-white' 
          aria-label="En savoir plus"
          routerLink="/services/music">
            <i  class="fas fa-info h3" ></i>             
            <span class="h3 m-2">
                En savoir plus
            </span>
        </button>     
    </div>
    <div class="d-flex justify-content-around ">  
        <button style='background-color:red' class='bouton rounded-pill text-white' routerLink="/services/clothes">
            <i class='fas fa-tshirt h3'></i>
            <span class="h3">
                Fashion
            </span>
        </button>
        <button 
          style='background-color:red' 
          class='bouton rounded-pill text-white' 
          routerLink="/services/xcreations">
            <i class="fa fa-exclamation-triangle h3">              
            </i>
            <span class="h3">
                X-medias
            </span>
        </button>    
    </div>    
</div>