<div style="padding:0" class="container-fluid d-flex justify-content-between align-items-center mt-4 mb-4">
    <button 
        *ngIf="!loggedIn" 
        style="background-color:red;left:0;"
        class="btn text-white l" 
        routerLink="/login">        
        Se connecter        
    </button>    
    <button 
        *ngIf="loggedIn" 
        style="background-color:red"
        class="btn text-white" 
        routerLink="/services/userprofile">        
        Profil
    </button>    
    <button
        style="background-color:red"
        routerLink="/cart" 
        class="btn text-white">PANIER: {{totalPanier}}€</button>
</div>