

  
@keyframes rotate {
    from {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(360deg);
    }
}
  .cardpanel{
    color:white;
    background-color:rgb(20, 106, 255);
  }

  @mixin responsive-box($height){
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-top: $height;
    }
  }
  

#cover{
  @include responsive-box(100%);
  // $width: 150px;
  // height: $width;
  width:15vh;
  border-width: 2vh;
  border-style: solid;
  border-color:red;
  border-radius:50%;
  // height: 100px;
  // width: 100px;
  // position:absolute;
  // top:-25%;
}
#imagecontainer{
  // position:relative;
  height:100%;
  min-width:50%;
  // min-height:250px;
  position: relative;
  background-color:red;
  display:flex;
  justify-content:center;
  align-items:center;
}

// collapse toggle
::ng-deep .collapse {
  transition: max-height .55s, opacity .35s ease-in-out;
  max-height: 0;
  opacity: 0;
  display: block !important;

  &.show {
    max-height: 100rem;
    opacity: 1;
  }
}

#trackTimeSlider {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 10px;
  width:100%;
  // height: 6px;
  //height:10%;
  height: 1vh;
  outline: none; 
}

#trackTimeSlider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color:red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

#volumeSlider{
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 10px;
  width:100%;
  // height: 6px;
  height:30%;
  border:solid 2px red;
  // outline: none; 
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color:red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

// collapse toggle
::ng-deep .collapse {
  transition: max-height .55s, opacity .35s ease-in-out;
  max-height: 0;
  opacity: 0;
  display: block !important;

  &.show {
    max-height: 100rem;
    opacity: 1;
  }
}

::ng-deep .accordion {
  .card {
    margin-bottom: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .04) !important;
    .card-header {
      background-color: red;
      padding: 0;
      button {
        padding: 1.2rem;
        width: 100%;
        span {
          float: left;
          color:white;
          font-size: 1.2rem;
        }
      }
    }
    .card-body {
      padding: 1rem;
      background-color:black;
      color:white;
    }
  }
}