<div class="container-fluid d-flex flex-column justify-content-around" style="height: 70vh"> 
    <div class="h-25 bg-transparent d-flex justify-content-center align-items-center">
        <i style="color:red" class="fas fa-user fa-10x"></i>        
    </div>
    <!-- <div class="bg-success d-flex flex-column justify-content-around">
        <div class="row bg-danger"> Resume</div>
        <div class="row bg-danger"> Settings</div>
        <div class="row bg-danger"> Transactions</div>
        <div class="row bg-danger"> Subscriptions</div>
    </div> -->

</div>